/* .bb-axis-x .tick text {
	transform: rotate(-90deg);
} */

body {
    font-family: 'Roboto';
    padding : 0px;
    margin : 0px;
}

#cover img {
    height: 100%;
    width: 100%;
}

h1 {
    margin-top : 100px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.intro-text {
    margin: 0 auto;
    width: 700px; 
    font-size: 20px;
    text-align: center;

}

#pasJulie {
    margin-top: 100px;
}

#pasJulie, #pasIngrid {
    text-align: center;
}

#graphique1 > svg:nth-child(1) > g:nth-child(4) {
    font-family: 'Roboto';
    font-size: 13px;
}

#graphique1 > svg:nth-child(1) > g:nth-child(3) {
    font-family: 'Roboto';
    font-size: 13px;
}


.intro-text2 {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom : 100px;
    width: 700px; 
    text-align: center;
    font-size: 20px;
}

.titre-infos {
    font-size: 20px;
    text-align: center;
}

.infos-big-julie {
    text-align: right;
    font-size: 60px;
    font-weight: 700;
    color: #A5C8FF;
    padding: 0px !important; 
}

.infos-big-ingrid {
    text-align: right;
    font-size: 60px;
    font-weight: 700;
    color: #FFF0A2;
    padding: 0px !important; 
}

.infos-small {
    text-align: left;
    padding-top: 10px;
}

.infos {
    margin-top: 15px;
}

.container-boutons {
    max-width: 100% !important;
}

.boutons {
    font-size: 30px;
    font-weight: 600;
    padding-top: 100px;
    margin-top: 60px;
    cursor: pointer;
}

.boutons:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bouton-julie {
    background-color: #A5C8FF;
    text-align: right;
    padding-right: 40px !important;
}

.bouton-ingrid {
    background-color: #FFF0A2;
    text-align: left;
    padding-left: 40px !important;
}

div.bouton-julie:nth-child(1) > img:nth-child(3) {
    max-height: 100px;
    padding-right: 70px;
    margin-top: 20px;
}

div.bouton-ingrid:nth-child(2) > img:nth-child(3) {
    max-height: 100px;
    padding-left: 70px;
    margin-top: 20px;
}

#container-julie {
    max-width: 100%;
}

#row-julie-titre {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
}

.titre-ville {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 20px;
}

.intro-text-julie {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom : 80px;
    width: 700px; 
    text-align: center;
    font-size: 20px;
}

.sous-titre-julie {
    margin-top: 20px;
    margin-bottom: 100px;
}

#graphiqueLausanne {
    margin-top: 50px;
}

.d3-graph-julie-text {
    font-family: 'Roboto';
    font-size: 15px;
}
/*
code ajouté ingrid 
*/

#container-ingrid.container {
    max-width: 100%;
}

#imgIngrid{
    max-height: 100px;
    padding-left:50px;
    margin-top: 50px;
    margin-right: 150px;
}

#imgIngridCourses{
    max-height: 400px;
    padding-left:0px;
    margin-top: 10px; 
    margin-right: 10px;
}
#entete{
    display: flex;
    background-color: #FFF0A2;
}

#texte-courses1{
    display: flex;
    text-align: left;
}

h2 {
    margin-top : 100px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.texte-infos {
    font-size: 30px;
    text-align: center;
}

.chiffres-infos {
    font-size: 40px;
    text-align: center;
    color: #FFF0A2;

}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
  
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 10px;
width: 100%;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
content: "\25BC";
position: absolute;
text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
margin: -1px 0 0 0;
top: 100%;
left: 0;
}

.row-infos {
    max-width: 1200px;
    margin : 0 auto;
}

.infos-small-bold {
    color : #A5C8FF;
    font-weight: 600;
}

#activite-favorite-lausanne {
    font-size: 40px;
}

#nb-activites-lausanne {
    text-align: center;
}

.infos-small-alone {
    text-align: center;
}

.infos-big-alone {
    text-align: center !important;
}

.infos-combien-de-fois {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 100px;
}

.infos-combien-de-fois-blue {
    color: #A5C8FF;
}

#row-julie-titre-2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
}

#row-intro-geneve {
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro-text-geneve {
    margin-top: 50px;
    margin-bottom : 50px;
    font-size: 20px;
}

.intro-text-geneve p {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

#img-dog {
    max-width: 350px;
}

#nb-activites-geneve {
    text-align: center;
}

#activite-favorite-geneve {
    font-size: 40px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 1px solid #313639;
    border-radius: 2px;
    pointer-events: none;
    font-size: 1.3rem;
}
  
