* {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    color : black;
}

#chart {
    padding-top: 50px;
}